.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  margin-right: 1.5vw;
  border-radius: 50%;
  border: 0.2em solid #ffffff;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.icon {
  height: 1.7vw;
  width: 1.7vw;
  z-index: 100;
}

.button:after {
  position: absolute !important;
  content: "";
  width: 5.1vw;
  height: 5.1vw;
  position: relative;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transform: scale(0.5, 0.5);
  transition: all 0.3s ease;
}

.button:hover:after {
  opacity: 1;
  transform: scale(1, 1);
}
