.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin-right: 1.5vw;
  border-radius: 50%;
  border: 0.2em solid #ffffff;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.icon {
  height: 1.7vw;
  width: 1.7vw;
}

.button:after {
  position: absolute !important;
  content: "";
  width: 4em;
  height: 4em;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0;
  transform: scale(0.5, 0.5);
  transition: all 0.3s ease;
}

.button:hover:after {
  opacity: .5;
  transform: scale(1, 1);
}
