.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: 100vh;
<<<<<<< HEAD
  zoom: 1.2;
=======
>>>>>>> 355508166f9041f5eee1cf103637b82873e09a56
}

/* For progressive image loading */
/* .full {
  transition: opacity 400ms ease 0ms;
}

.thumbnail {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
} */
