.arrow-wrapper {
  color: #ffffff;
  position: fixed;
  z-index: 100;
  bottom: 5vh;
  right: 5vh;
  height: 5vh;
  width: 5vw;
  cursor: pointer;
  animation: slideIn 0.2s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
